.social-btn{
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    border-radius: 6px;
    width: 3em;
    padding-left: 1em;
    padding-right: 3em;
    cursor: pointer;
    margin: 10px;
}
.Twitter-btn{
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    border-radius: 6px;
    width: 3em;
    padding-left: 1em;
    padding-right: 47px;
    cursor: pointer;
    margin: 10px;
}
.LinkedIn-btn{
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
    padding-top: 9px;
    padding-bottom: 10px;
    border-radius: 6px;
    width: 3em;
    padding-left: 1em;
    padding-right: 47px;
    cursor: pointer;
    margin: 10px;
}
.Github-btn{
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
    padding-top: 9px;
    padding-bottom: 10px;
    border-radius: 6px;
    width: 3em;
    padding-left: 1em;
    padding-right: 47px;
    cursor: pointer;
    margin: 10px;
}