@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form{
    margin-top: 0.8em;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    margin-left: 13em;
}
label{
    font-size: 14px;
    color: #696F79;
    margin-bottom: 1em;
    margin-top: 1em;
}
input{
    font-size: 15px;
    border: 1px solid #8692A6;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 15px;
}
input::placeholder{
    color: #8692A6;
    font-family: "Inter", sans-serif;
}
.i-agree{
    margin : 10px;
}
.agree-checkbox{
    margin-left: -.01em;
    margin-top: 2em;
}
.cb1{
    display: flex; 
}
.cb1 label{
    margin: 20px;
}